@model IEnumerable<Eat4Fit.Eats>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food.Calcories)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.DateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Food.Name)
    </td>
    <td>
        <img src="@Url.Content(string.Format("~/Content/Images/{0}",item.Food.Image))" class="img-rounded center-block" style="height:100px;" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Food.Calcories)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
